.header {
   display: flex;
   align-items: center;
   height: 100vh;
   background: $bg-gradient;
   .row {
      display: flex;
      justify-content: space-between;
      column-gap: 94px;
   }

   .info {
      h1 {
         margin-bottom: 24px;
         font-size: 96px;
         font-weight: 700;
         line-height: 1.14;
      }

      p {
         max-width: 456px;
         margin-bottom: 48px;
         font-size: 24px;
         line-height: 1.6;
      }
   }

   .img {
      max-width: 445px;
      width: 100%;
   }
}
