// main colors
$black-color: #141414;
$white-color: #fff;

// accent color
$primary-color: #6a62b7;

// secondary colors
$common-gray: #8888;

// bg-color
$bg-color: #fff;
$bg-gradient: linear-gradient(180deg, #d0cbff 0%, rgba(208, 203, 255, 0) 100%);

// Типографика
$font-size-paragraph: 1.8rem;
